.header {
    margin: 0;
    font-size: 28px;
}
/* Style the navbar */
#navbar{
    overflow: hidden;
    background-color: black;
}
/* Navbar links */
#navbar a{
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Navbar pseudo */
#navbar a:hover{
    color: black;
    background-color: bisque;
}

/* Navbar active class */

#navbar .active{
    background-color: green;
}
/* Page content */

.content {
    padding: 16px;
}

.stickyCssClass{
    position: fixed;
    top: 0;
    width: 100%;
}
/* next sibling combinator: does not execute if stickycssclass is not there
.stickyCssClass + .content {
    padding-top: 60px;
}*/